@import "./reset.css";
@import "./blocks/btn.css";
@import "./blocks/header.css";
@import "./blocks/statistic.css";
@import "./blocks/profit.css";
@import "./blocks/teachers.css";
/* font-family: 'Jost', sans-serif; */

:root {
	--container-width: 1750px;
	--container-padding: 15px;
	--secondary: rgba(20, 16, 36, 0.70);
	--red: #D52027;
  }

/* utility */
.none {
	display: none;
}

body {
	font-family: 'Jost', sans-serif;
	font-size: 18px;
	font-weight: 400;
	background-color: #fff;
	color: #141024;
}

/* Grid */
.container {
	max-width: var(--container-width);
	height: 100%;
	margin: 0 auto;
	padding: 0 var(--container-padding);
}

.container--narrow {
	max-width: 1357px;
	height: 100%;
	margin: 0 98px 0 265px;
}

.container-right {
	padding-left: calc((100% - var(--container-width)) / 2 + var(--container-padding)
	);
  }







