.header {
    padding-top: 93px;
    background-color: #141024;
}


.header__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__text {
    color: #fff;
}

.header__title {
    margin-bottom: 20px;
}

.header__desc {
    margin-bottom: 50px;
    font-size: 20px;
}

.header__img {
    position: relative;

    img {
        width: 783px;
        height: 917px;
        object-fit: cover;

    }  
}

