body {
	width: 1920px;
	margin: 0;
	padding: 0;
	font-size: 20px;
	line-height: 32px;
	font-family: "Jost", sans-serif;
	color: #ffffff;
	background-color: #ffffff;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.container {
	width: 1200px;
	margin-left: 120px  auto;
	text-align: left;
}

.page-header {
	height: 1080px;
	position: relative;
	background-color: #141024;
}

.header-logo {
	float: left;
	width: 228px;
	height: 48px;
	margin-top: 30px;
	margin-left: 100px;
	font-weight: 700;
	font-size: 30px;
	line-height: 48px;
	text-transform: uppercase;
}

.main-nav {
	margin: 0;
	padding: 0;
	margin-top: 38px;
	margin-left: 470px;
	margin-right: 324px;
	float: left;
	list-style: none;
	vertical-align: middle;
}

.main-nav li {
	display: inline-block;
	margin-right: 40px;
}

.main-nav li:last-child {
	margin-right: 0;
}

.main-nav a {
	display: inline-block;
	font-weight: 400px;
	font-size: 20px;
	line-height: 32px;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
}

.main-nav a:hover {
	color: rgba(255, 255, 255, 0.8);	
}

.contact-phone {
	padding: 0;
	margin: 0;
	float: right;
	font-size: 30px;
	font-family: "Jhost", sans-serif;
	font-weight: 600;
	line-height: 48px;
	margin-top: 30px;
	margin-right: 100px;
	text-align: right;
}

.promo-text h1 {
	padding: 0;
	margin: 0;
	margin-left: 380px;
	margin-top: 344px;
	height: 112px;
	width: 530px;
	line-height: 112px;
	font-size: 70px;
	font-weight: 600px;
	text-transform: uppercase;
}

.title-tip {
	margin-left: 380px;
	margin-top: 20px;
	width: 480px;
	font-family: "Jost", sans-serif;
	font-weight: 400px;
	font-size: 20px;
	line-height: 32px;
}

.btn {
	display: inline-block;
	font: inherit;
	margin-left: 380px;
	margin-top: 50px;
	padding: 25px 54px;
	border-radius: 5px;
	background-color: #d52027;
	text-decoration: none;
	color: #ffffff;
	}
	
.btn:hover {
	color: rgba(255, 255, 255, 0.8);
}
	
.btn-transparent {
	background: #ffffff;
	color: #d52027;

}

.btn-transparent:hover {
	color:  #a8191e;
}

.btn-blue {
	width: 500px;
	background-color: #141024;
}


.header-promo img {
	position: absolute;
	top: 263px;
	left: 924px;
}

.header-promo img:last-child {
	position: absolute;
	top: 163px;
	left: 1057px;
}
/* header end  у 10 отступ 60 pv 1344*/

.school-about {
	padding-top: 120px;
	padding-left: 380px;
	height: 494px;
	color: #141024;
;
}

.school-description {
	width: 891px;
	height: 144px;
	margin-bottom: 60px;
	font-weight: 400;
	font-size: 30px;
	line-height: 48px;
	font-family: "Jost", sans-serif;
}

.school-description span  {
	font-weight: 600;
	font-size: 30px;
}

.features {
	margin: 0;
	padding: 0;
	list-style: none;
}

.features li {
	float: left;
	display: inline-block;
	vertical-align: middle;
	width: 260px;
	color: #141024b2;
	font-weight: 400;
	font-size: 18px;
	line-height: 29px;
	margin-right: 40px;
}

.features li:nth-last-child(1){
	margin-right: 0;
}

.features .feature-qty {
	height: 112px;
	color: #d52027;
	font-weight: 600;
	font-size: 70px;
	line-height: 112px;
}