.card-benefit {
    max-width: 360px;
}

.card-benefit__title {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 600;
    color: #141024;
}

.card-benefit__desc {
    font-size: 18px;
    color: rgba(20, 16, 36, 0.70);
}