.benefits {
    padding: 100px 0;
    background-color: #f9f9f9;;
}

.benefits__title {
    margin-bottom: 60px;
}

.benefits__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}