.card {
    max-width: 260px;

    &--width-360 {
        max-width: 360px;
    }
}

.card__title {
    font-size: 70px;
    font-weight: 600;
    color: #D52027;

    &--black {
        font-size: 24px;
        color: #141024;
    }

    &--margin-20 {
        margin-bottom: 20px;
    }
}

.card__desc {
    font-size: 18px;
    color: rgba(20, 16, 36, 0.70);
}