.fade-block {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    top: 0;
    background-color: red;
}

.modal-window {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.card {
    padding: 40px;
    width: 940px;
    height: 768px;

    display: flex;
    flex-direction: column;
    gap: 40px;

    background: #fff;
}

.card__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.card__profile {
    display: flex;
    align-items: flex-start;
    gap: 40px;
}

.card__img {
    img {
        border-radius: 20px;
    }
}

.card__text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card__name {
    font-size: 24px;
    font-weight: 600;
    color: #141024;
}

.card__job-information {
    font-size: 18px;
    color: rgba(20, 16, 36, 0.70);
}

.card__socials {
    display: flex;
    gap: 10px;
}

.card__header-btn {
    font-size: 18px;
    color: rgba(20, 16, 36, 0.70);
    cursor: pointer;
}

.card__bottom {
}

