.cta {
    position: relative;
    background: #D52027;
}

.cta__grid {
    padding: 0 60px;
    padding-top: 87px;

    display: grid;
    grid-template-columns: 6fr 6fr;
    column-gap: 40px;
}

.cta__text {
    margin-top: 19px;
}

.cta__text-title {
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: 600;
    line-height: 1.3;
    color: #fff;
}

.cta__text-subtitle {
    font-size: 20px;
    line-height: 1.3;
    color: #fff;
}

.cta__form--wrapper {
}

.cta__img {
   z-index: 1;
}