.grid-card {
    max-width: 260px;
}

.grid-card__ammount {
    font-size: 70px;
    font-weight: 600;
    color: #D52027;
}

.grid-card__desc {
    font-size: 18px;
    color: rgba(20, 16, 36, 0.70);
}