.header {
    padding-top: 30px;
    padding-bottom: 30px;
    height: 1080px;
    background: #141024;
    color: #fff;
}

.header__nav {
    margin-bottom: 85px;
}

.header__row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 28px;
}

.header__content {
    max-width: 516px;
}

.header__title {
    margin-bottom: 20px;
    font-size: 70px;
    font-weight: 600;
}

.header__text {
    margin-bottom: 50px;
    font-size: 20px;
}

.header__btn {
    display: inline-block;
    padding: 25px 54px;
    border-radius: 5px;
    background: #D52027;

    font-size: 18px;
    color:#fff;
}

.header__img {

}