.header-top {
    background-color: #141024;
    color: #fff;
}

.header-top__nav {
    padding-top: 30px;
    padding-bottom: 30px;

    display: flex;
    justify-content: space-between;
    color: #fff;
}

.header-top__logo {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}

.header-top__phone {
    font-size: 30px;
    font-weight: 600;
    color: #fff;
}
