.header {
    padding-top: 30px;
    padding-bottom: 30px;
    background: #141024;
    color: #fff;
}

.header__nav {
    margin-bottom: 85px;
}

.header__row {
}

.header__content {
}

.header__title {
}

.header__text {
}

.header__btn {
}