.header {
    padding-top: 30px;
    height: 1080px;
    background: #141024;
    color: #fff;
}

.header__nav {

}

.header__row {
    padding-top: 85px;
    display: flex;
    justify-content: space-around;
    gap: 28px;
}

.header__content {
    margin-top: 181px;
    max-width: 516px;
}

.header__title {
    margin-bottom: 20px;
    font-size: 70px;
    font-weight: 600;
}

.header__text {
    margin-bottom: 50px;
    font-size: 20px;
}

.header__btn {
    display: inline-block;
    padding: 25px 54px;
    border-radius: 5px;
    background: #D52027;

    font-size: 18px;
    color:#fff;
}

.header__img--wrapper {
    position: relative;
    height: 917px;
    padding-top: 100px;
}

.header__img {
  
}

.header__img--student {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0%);
}