.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__list {
    display: flex;
    gap: 40px;

    a {
        font-size: 20px;
        color: #fff;
    }
}

