.offer {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 40px;

    height: 460px;
    border-radius: 20px;
    border: 1px solid rgba(20, 16, 36, 0.20);

    text-align: center;
    color: #141024;

    cursor: pointer;
}

.offer__title {
    margin-bottom: 63px;
    font-size: 30px;
    font-weight: 600;
}

.offer__price {
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: 600;
}

.offer__text {
    height: 58px;
    font-size: 18px;
}

.offer__btn {
    margin-top: auto;
    padding: 25px 54px;
    border-radius: 5px;
    background: #D52027;

    font-size: 18px;
    color: #FFF;
}

.offer--active {
    height: 500px;
    background: #141024;
    color: #fff;
}

.offer--active .offer__title {
    margin-bottom: 83px;
}
