.slider__item {
    min-width: 360px;
}

.slider__img {
    margin-bottom: 20px;

    width: 360px;
    height: 500px;
    img {
        border-radius: 20px;
        height: 100%;
    }   
}

.slider__title {
    margin-bottom: 10px;

    font-size: 24px;
    font-weight: 600;
}

.slider__text {
    margin-bottom: 20px;

    font-size: 18px;
    color: $textMuted;

    & p + p {
        margin-top: 0.3em;
    }
}

.slider__btn {
    font-size: 18px;
    color: $accentColor;
}
