.statistic {
    max-width: 260px;
}

.statistic__title {
    font-size: 70px;
    font-weight: 600;
    color: #D52027;
}

.statistic__desc {
    font-size: 18px;
    color: rgba(20, 16, 36, 0.70);
}