.statistics {
    padding: 120px 0;
}

.statistics__top {
    margin-bottom: 60px;
    max-width: 900px;
}

.statistics__top-title {
    font-size: 30px;
    color: #141024;

    & strong {
        font-weight: 600;
    }
}

.statistics__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}