.teacher {
    max-width: 360px;
}

.teacher__img {
    margin-bottom: 20px;

    img {
        border-radius: 20px;
    }
}

.teacher__title {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 600;
    color: #141024;
}

.teacher__text {
    margin-bottom: 20px;
    font-size: 18px;
    color: rgba(20, 16, 36, 0.70);

    & p + p {
        margin-top: 0.3em;
    }
}
