.tub--wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.tub {
    text-align: left;
    font-size: 20px;
    color: #141024;

    &--active {
        color: #D52027;
    }
}

.tub__subtitle {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 600;
    color: #141024;
}

.tub__content {
    margin-bottom: 40px;
    font-size: 20px;
}

.tub__list {
    margin-bottom: 40px;

    font-size: 20px;
    color: #141024;
}
