.btn {
	display: inline-block;

	font-family: 'Jost', sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 160%; /* 28.8px */
}

.btn-red {
	padding: 25px 54px;
	border-radius: 5px;
	color: #FFF;
	background-color: var(--red);

}

.btn-white {
	color: var(--red);
}

