.card {
    width: 360px;
}

.card__photo {
    margin-bottom: 20px;
}

.card__img {
    border-radius: 20px;
}

.card__desc {
    
}

.card__title {
    margin-bottom: 10px;
    color: #141024;
font-family: Jost;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 160%; /* 38.4px */
}

.card__text {
    margin-bottom: 20px;
}

.card__read-more {
}