.header {
	height: 1080px;
	padding-top: 30px;
	background-color: #141024;
	color: #fff;
}

.nav {
	padding-bottom: 84px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav__logo {
	width: 228px;
}

.nav__logo + * {
	margin-left: 470px;
}

.logo {
	font-size: 30px;
	font-family: 'Jost', sans-serif;
	font-weight: 700;
	line-height: 1.6;
	color: #FFF;
}

.nav__list {
	display: flex;
	font-size: 20px;
}

.nav__list + * {
	margin-left: 443px;
}

.nav__list-link {
	text-align: center;
	line-height: 160%;
	color: #FFF;
	transition: opacity 0.2s ease-in;
}

.nav__list-item + * {
	margin-left: 40px;
}

.nav__list-link:hover {
	opacity: 0.8;
}

.nav__phone {
}

.phone {
	font-size: 30px;
	font-weight: 600;
}

/* Header row */

.header__row {
	display: flex;
	justify-content: space-between;
	column-gap: 28px;
}

.header__row-data {
	max-width: 516px;
	margin-top: 274px;
}

.header__row-title {
	margin-bottom: 20px;
	font-size: 70px;
	font-weight: 600;
	line-height: 160%; /* 112px */
}

.header__row-disc {
	margin-bottom: 50px;
}

.header__row-text {
	font-size: 20px;
	line-height: 160%; /* 32px */
}

.header__row-photo {
	position: relative;
	max-width: 783px;
}

.header__photo {
}

.header__photo--ellipse {
	padding-top: 100px;
}

.header__photo--student {
	width: 515px;
	height: 917px;
	position: absolute;
	top: 0;
	left: 132px;
}