.header {
	background-color: #141024;
	height: 1080px;
    width: 1920px;
	color: #fff;
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 38px;
}

.nav__logo {
	font-size: 30px;
	font-family: 'Jost', sans-serif;
	font-weight: 700;
	line-height: 1.6;
	color: #FFF;
}

.nav__list {
	display: flex;
	column-gap: 40px;
	font-size: 20px;
}

.nav__list-link {
	text-align: center;
	font-size: 20px;
	line-height: 1.6;
	color: #FFF;
	transition: opacity 0.2s ease-in;
}

.nav__list-link:hover {
	opacity: 0.8;
}

.nav__phone {
	font-size: 30px;
	font-weight: 600;
}

/* Header row */

.header__row {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.header__row-data {
	padding-top: 266px;
	max-width: 516px;
}

.header__row-title {
	margin-bottom: 20px;
	font-size: 70px;
	font-weight: 600;
	line-height: 160%; /* 112px */
}

.header__row-disc {
	margin-bottom: 50px;
}

.header__row-text {
	font-size: 20px;
	line-height: 160%; /* 32px */
}

.header__row-btn {
}
.btn {
}
.btn-link {
}
.header__row-photo {
}
.header__row-photo-img {
}