.profit {
    padding: 100px 0;
    background-color: #F9F9F9;

}

.profit-title {
    padding-bottom: 60px;
    font-size: 50px;
    font-weight: 600;
    line-height: 160%; /* 80px */
}

.profit__list {
    display: flex;
    column-gap: 15px;
}

.profit__item {
    max-width: 360px;
}

.profit__item + * {
    margin-left: 25px;
}

.profit__item-name {
    display: inline;
    position: relative;
    font-size: 24px;
    font-weight: 600;
    line-height: 160%; /* 38.4px */
}

.profit__item-name::before {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -66px;
    right: -261px;
    width: 251px;
    height: 56px;
    content: "При наличии свободных мест";
    font-size: 16px;
    line-height: 160%; /* 25.6px */

    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 2px 8px 0px rgba(20, 16, 36, 0.10);
}


.profit__item-name::after {
    position: absolute;
    /*display: none;*/
    top: 0;
    right: -34px;
    content: "";
    width: 24px;
    height: 24px;
    background-image: url(./../../img/profit/attention.svg);
}

.profit__item-text {
    color: var(--secondary);
    line-height: 160%; /* 28.8px */
}