.teachers {
    padding-top: 120px;
    padding-bottom: 60px;
}

.teachers__title {
    margin-bottom: 60px;
    font-size: 50px;
    font-weight: 600;
    line-height: 160%; /* 80px */
}

.teachers__row {
}

.teacher__list {
}

.teacher__card {
}

.teacher__card-photo {
    border-radius: 20px;
    margin-bottom: 20px;
}

.teacher__card-name {
    font-family: 'Jost', sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 160%; /* 38.4px */
    color: #141024;
}

.teacher__card-specialization {
    margin-bottom: 20px;
    font-family: 'Jost', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 160%; /* 28.8px */
    color: var(--secondary);
}

.btn {
}