.teachers {
    padding: 120px 0 60px;
    overflow-x: hidden;
}


.teachers__title {
    margin-bottom: 60px;
    font-size: 50px;
    font-weight: 600;
    line-height: 160%; /* 80px */
}

.teachers__slider {
    display: flex;
    width: 1960px;
}

/* Slider*/

.slider {
    display: flex;
    column-gap: 15px;
    padding-bottom: 60px;
    flex-shrink: 0;
}

.slider__item + * {
    margin-left: 25px;
}

.teacher__card-photo {
    border-radius: 20px;
    margin-bottom: 20px;
}

.teacher__card-name {
    font-family: 'Jost', sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 160%; /* 38.4px */
    color: #141024;
}

.teacher__card-specialization {
    margin-bottom: 20px;
    font-family: 'Jost', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 160%; /* 28.8px */
    color: var(--secondary);
}

.slider__controller {
    position: relative;
    width: 1270px;
}

.slider-btn {
    position: absolute;
    display: inline-block;
    width: 40px;
    height: 40px;
}

.btn-prev {
    bottom: 0;
    left: 0px;
}

.btn-next {
    bottom: 0;
    left: 0px;
}