.container {
    padding: 0 15px;
    max-width: 1190px;
    margin: 0 auto;

    &--wide {
        max-width: 1750px;
    }
}

.container-right {
    padding-left: calc((100% - 1190px) / 2 + 15px);
}